

body  {
  margin-top: 5px;
  text-align: center;
  
   color: rgb(13, 13, 14);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  
  margin-top:  100px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{ 
  text-align: center;
  width:140px;
  height:30px;
  font-size:20px;
  color:white;
  background-color:#525754;
  border-style: shadow;
  border: "50px";
  border-color: #686d68;
  
}
 